.Counters {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

.Counter {
  margin: 1rem 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.counter-info {
  display: flex;
  flex-direction: row;
}

p {
  margin: 0.5rem;
}